<!DOCTYPE html>
<html lang="en">
<head>
	<title>Programa Financiero - ¿Donde Invierto?</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">

      <div class="form-signin col-md-12" action="/login" method="POST">
      	<div class="jumbotron">
      	   <h1 class="text-center">Oops! Usuario y/o Contraseña Incorrecto</h1>
      	   <p class="text-center">Verifique los datos ingresados e intente nuevamente</p>
      	   <button type="button" class="btn btn-success">Volver</button>
      	 </div>
      </div>


    </div>

</body>
</html>
