<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Programa Financiero</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Empresas<span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Ver listado</a></li>
		          <li><a href="#">Importar nuevas</a></li>
		        </ul>
		      </li>
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Indicadores<span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Crear nuevo</a></li>
		        </ul>
		      </li>
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Metodologías<span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Calcular</a></li>
		          <li><a href="#">Crear nueva</a></li>
		          <li><a href="#">Crear Condición</a></li>

		        </ul>
		      </li>
		    </ul>
		  </div>
		</nav>

 

    	<div class="panel panel-default">
   		 <div class="panel-heading">Empresas Cargadas</div>
   		  <div class="panel-body">
   		  	 <table class="table table-hover">
				<thead>
				  <tr>
				    <th>Nombre</th>
				    <th>Ver Cuentas</th>
				    <th>Calcular Indicadores</th>
				  </tr>
				</thead>
				<tbody>
				{{#each companies}}
				  <tr>
				    <td>{{company.name}}</td>
				    <td><a class="btn btn-success" href="/cuentas?company={{company.name}}">Ver</a></td>
				    <td><a class="btn btn-success" href="">Ver</a></td>
				  </tr>
				 {{/each}}
				</tbody>
				</table>
   		  </div>
  	</div>

  <br>
  <br>


  	


</div>

</body>
</html>
